@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-open-sans: "Open Sans", Inter;
  --font-fira-code: "Fira Code", mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: #c8c8c8; */
  background: #000000;
  width: 100vw;
  overflow-x: clip;
  color: #ffffff;
}

.inverted-radius-top-left {
  --r: 20px; /* the radius */
  --stl: 30px; /* size of inner curve */
  --xtl: 20px; /* horizontal offset (no percentage) */
  --ytl: 10px; /* vertical offset (no percentage) */

  border-radius: var(--r);
  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
        72%);
  --_g: conic-gradient(at var(--r) var(--r), #000 75%, #0000 0);
  --_d: (var(--stl) + var(--r));
  mask: calc(var(--_d) + var(--xtl)) 0 var(--_m),
    0 calc(var(--_d) + var(--ytl)) var(--_m),
    radial-gradient(var(--stl) at 0 0, #0000 99%, #000 calc(100% + 1px))
      calc(var(--r) + var(--xtl)) calc(var(--r) + var(--ytl)),
    var(--_g) calc(var(--_d) + var(--xtl)) 0,
    var(--_g) 0 calc(var(--_d) + var(--ytl));
  mask-repeat: no-repeat;
}

.inverted-radius-bottom-right {
  --r: 20px; /* the radius */
  --sbr: 30px; /* size of inner curve */
  --xbr: 20px; /* horizontal offset (no percentane) */
  --ybr: 10px; /* vertical offset (no percentage) */

  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
        72%);
  --_g: conic-gradient(
    from 90deg at calc(100% - var(--r)) calc(100% - var(--r)),
    #0000 25%,
    #000 0
  );
  --_d: (var(--sbr) + var(--r));
  mask: calc(100% - var(--_d) - var(--xbr)) 100% var(--_m),
    100% calc(100% - var(--_d) - var(--ybr)) var(--_m),
    radial-gradient(var(--sbr) at 100% 100%, #0000 99%, #000 calc(100% + 1px))
      calc(-1 * var(--r) - var(--xbr)) calc(-1 * var(--r) - var(--ybr)),
    var(--_g) calc(-1 * var(--_d) - var(--xbr)) 0,
    var(--_g) 0 calc(-1 * var(--_d) - var(--ybr));
  mask-repeat: no-repeat;
}

html.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
