@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-open-sans: "Open Sans", Inter;
  --font-fira-code: "Fira Code", mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0;
}

/* *::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 8px; /* Adjust to make it square if height is also 10px */
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Darker gray for better visibility on light backgrounds, while still subtle on dark */
  cursor: pointer;
  border-radius: 0; /* Square shape */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* No track */
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: #c8c8c8; */
  background: #000000;
  width: 100vw;
  overflow-x: clip;
  color: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

/* View Transitions */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

/* Forward Animation */
[data-transition="forward"]::view-transition-old(root) {
  animation-name: slide-out-left;
}
[data-transition="forward"]::view-transition-new(root) {
  animation-name: slide-in-right;
}

/* Backward Animation */
[data-transition="back"]::view-transition-old(root) {
  animation-name: slide-out-right;
}
[data-transition="back"]::view-transition-new(root) {
  animation-name: slide-in-left;
}

@keyframes slide-out-left {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
}
